.daily-view {

  ion-card-content {
    padding: 0;
  }

  .time-list {
    padding: 0;
    margin: 0;
  }

  .time-slot {
    padding: 10px 0; /* Adjust padding as needed */
  }

  ion-label.time-label {
    font-size: 12px !important; /* Example: Adjust font size */
  }

  .separator {
    width: calc(82%);
    height: 1px;
    background-color: #000;
    transform: translate(0px,-2px);
    margin-top: 5px; /* Example: Adjust margin if needed */
  }
}