ion-card {
    --background:#8294c4;
    --color: #000000;
  }
  
  ion-card-title {
    --color:#d2fcf6;
  }
  
  ion-card-subtitle {
    --color: #000000;
    --font-size: 2px;
  }

  ion-checkbox {
    --checkbox-background-checked: #d5d2e4;
    --checkbox-background:var(--background);
    --checkmark-color:var(--color);
  }
  
  ion-checkbox::part(container) {
    border-radius: 10px;
    border: 2px solid #fbfbfb;
  }