/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* our color scheme:
vista blue    #8294c4
periwinkle    #afbad7
lavender      #dbdfea
light orange  #ffead2
*/

:root {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
}

:root.ios {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
}

:root.md {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
}

ion-tab-bar {
    --background: #dbdfea;
    --color: #000000;
    --color-selected: #8294c4;
    --border: none;
}

ion-icon {
    font-size: 30px;
    --ionicon-stroke-width: 48px;
  }

ion-toolbar {
    --background: #dbdfea;
}

ion-activatable {
    color: #8294c4;
}