.calendar-page{
    ion-segment {
        background-color: #dbdfea;
    }

    ion-segment-button {
        --color: #000;
        --background-checked: #afbad7;
        --color-checked: #000;
        --indicator-color: #8294c4;
        --border-color: transparent;
        --box-shadow: none;
        text-transform: none;
        --ripple-color: #dbdfea;
    }

    ion-card {
        --background: #dbdfea;
        --color: #000;
        overflow: scroll;
        max-height: calc(100% - 68px);
    }

    ion-card-title {
        --color: #000;
        --box-shadow: none;
    }

    ion-card-subtitle {
        --color: #000;
    }

    ion-item {
        background: #dbdfea;
        --background: #dbdfea;
        --border-style: none;
    }

    ion-datetime {
      --background: #dbdfea;
      --background-rgb: #8294c4;
      --color: #000;
    }
    ion-datetime::part(calendar-day today) {
        color: #8294c4;
        border-color: #8294c4;
    }
    ion-datetime::part(calendar-day active) {
        background: #8294c4;
        border-color: #8294c4;
    }
    --wheel-highlight-background: #afbad7;
    --wheel-highlight-border-radius: 48px;
    --wheel-fade-background-rgb: transparent;
    ion-datetime::part(wheel-item) {
      color: #000;
      font-size: 16px;
    }
    ion-datetime::part(wheel-item active) {
      color: #000;
    }
}